<% include partials/header %>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="/userEdit">Profile</a></li>
          <li role="presentation"><a href="/messages">Messages</a></li>
          <li role="presentation"><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h1 style="margin:0 auto;">Messages</h1>
        
        <div class="ui vertical menu">
          <a class="active teal item">
            Inbox
            <div class="ui teal left pointing label">0</div>
          </a>
          <a class="item">
            Spam
            <div class="ui label">0</div>
          </a>
          <a class="item">
            Updates
            <div class="ui label">0</div>
          </a>
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search mail...">
              <i class="search icon"></i>
            </div>
          </div>
        </div>

    </div>
</div>


<div class="ui list container">
  <div class="item">
    <i class="users icon"></i>
    <div class="content">
     YelpCamp
    </div>
  </div>
  <div class="item">
    <i class="marker icon"></i>
    <div class="content">
      Israel, TLV
    </div>
  </div>
  <div class="item">
    <i class="mail icon"></i>
    <div class="content">
      <a href="yuvi.mor@gmail.com">yuvi.mor@gmail.com</a>
    </div>
  </div>
  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      <a href="https://mor-project-mor2k.c9users.io/">YelpCamp.com</a>
    </div>
  </div>
</div>


<% include partials/footer %>
