<% include partials/header %>

<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Name" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button>Sign Up!</button>
</form>

<% include partials/footer %>